<section class="Listing-page">
  <div class="listing-title">
    <h1>{{ 'productListPage.title' | translate }}</h1>
  </div>
  <form class="search-form" [formGroup]="searchForm">
    <div class="search-criteria">
      <div class="search-condition-wrapper">
        <div id="searchCondition1">
          <mat-form-field class="form-field">
            <input id="product-name" matInput type="text" formControlName="productName"
              placeholder="{{ 'productListPage.productName' | translate }}">
          </mat-form-field>
        </div>
      </div>
      <div class="search-condition-wrapper">
        <div id="searchCondition1">
          <mat-form-field class="form-field">
            <input id="product-code" matInput type="text" formControlName="productCode"
              placeholder="{{ 'productListPage.productCode' | translate }}">
          </mat-form-field>
        </div>
      </div>
      <div class="search-condition-wrapper">
        <mat-form-field>
          <mat-label>{{ 'productListPage.productGenre' | translate }}</mat-label>
          <mat-select formControlName="productGenre">
            <mat-option></mat-option>
            <mat-option *ngFor="let genre of genres" [value]="genre.value">
              {{genre.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="search-condition-wrapper">
        <div id="searchCondition4">
          <mat-checkbox id="product-end" formControlName="productEnd">{{ 'productListPage.productEnd' | translate }}
          </mat-checkbox>
        </div>
      </div>
    </div>
  </form>
  <div class="search-functions">
    <div class="search-functions-paginator">
      <mat-paginator [length]="resultsLength" [pageSize]="50" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
    </div>
    <div class="search-functions-buttons">
      <button mat-raised-button id="newBtn" class="mat-raised-button" type="submit"
        (click)="onNew()">{{ 'productListPage.newButton' | translate }}</button>

      <button mat-raised-button id="clearBtn" class="mat-raised-button" type="submit"
        (click)="onClear()">{{ 'productListPage.clearButton' | translate }}</button>

      <button mat-raised-button id="searchBtn" class="mat-raised-button active" type="submit"
        (click)="onSearch()">{{ 'productListPage.searchButton' | translate }}</button>
    </div>
  </div>
  <div class="search-results">
    <table class="results" mat-table *ngIf="resultsLength>0" [dataSource]="productResponseDtos">
      <ng-container matColumnDef="No">
        <th class="width-no" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.no" | translate }}
        </th>
        <td class="width-no" mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
      </ng-container>
      <ng-container matColumnDef="productName">
        <th class="width-product-name" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.productName" | translate }}
        </th>
        <td class="width-product-name" mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
      <ng-container matColumnDef="productCode">
        <th class="width-product-code" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.productCode" | translate }}</th>
        <td class="width-product-code" mat-cell *matCellDef="let element"> {{element.productCode}} </td>
      </ng-container>
      <ng-container matColumnDef="productGenre">
        <th class="width-product-genre" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.productGenre" | translate }}</th>
        <td class="width-product-genre" mat-cell *matCellDef="let element"> {{element.productGenre}} </td>
      </ng-container>
      <ng-container matColumnDef="productImage">
        <th class="width-product-image" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.productImage" | translate }}</th>
        <td class="width-product-image" mat-cell *matCellDef="let element"><img src={{element.productImageUrl}} /></td>
      </ng-container>
      <ng-container matColumnDef="productSizeStandard">
        <th class="width-product-size" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.productSizeStandard" | translate }}</th>
        <td class="width-product-size" mat-cell *matCellDef="let element"> {{element.productSizeStandard}} </td>
      </ng-container>
      <ng-container matColumnDef="productColor">
        <th class="width-product-color" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.productColor" | translate }}</th>
        <td class="width-product-color" mat-cell *matCellDef="let element"> {{element.productColor}} </td>
      </ng-container>
      <ng-container matColumnDef="productUnitPrice">
        <th class="width-product-unit-price" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.productUnitPrice" | translate }}</th>
        <td class="width-product-unit-price" mat-cell *matCellDef="let element"> {{element.productUnitPrice}}</td>
      </ng-container>
      <ng-container matColumnDef="productStockQuantity">
        <th class="width-product-stock" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.productStockQuantity" | translate }}</th>
        <td class="width-product-stock" mat-cell *matCellDef="let element"> {{element.productStockQuantity}} </td>
      </ng-container>
      <ng-container matColumnDef="productEnd">
        <th class="width-product-end" mat-header-cell *matHeaderCellDef>
          {{ "productListPage.productEnd" | translate }}</th>
        <td class="width-product-end" mat-cell *matCellDef="let element"> {{element.productEnd}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;" (click)="onRowClicked(row)"></tr>
    </table>

    <!-- <table class="results">
      <thead>
        <tr>
          <th class="width-no">No.</th>
          <th class="width-product-name">商品名</th>
          <th class="width-product-code">商品コード</th>
          <th class="width-product-genre">ジャンル</th>
          <th class="width-product-image">イメージ</th>
          <th class="width-product-size">サイズ・規格</th>
          <th class="width-product-color">色</th>
          <th class="width-product-unit-price">単価</th>
          <th class="width-product-stock">在庫数</th>
          <th class="width-product-end">販売終了</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="width-no">1</td>
          <td class="width-product-name product-name">花柄のスニーカー</td>
          <td class="width-product-code"><a href="product-registering">abcd123</a></td>
          <td class="width-product-genre">靴・スニーカー</td>
          <td class="width-product-image"><img src="http://localhost:8080/api/downloadFile/queen.jpg" /></td>
          <td class="width-product-size product-size">テスト商品１のサイズ</td>
          <td class="width-product-color">花柄</td>
          <td class="width-product-unit-price product-unit-price">2,500</td>
          <td class="width-product-stock product-stock"><a href="#">500</a></td>
          <td class="width-product-end">-</td>
        </tr>
        <tr>
          <td>2</td>
          <td class="product-name">Vネックニット</td>
          <td><a href="product-registering">abcd456</a></td>
          <td>トップス</td>
          <td><img src="img/test02.png" /> </td>
          <td class="product-size">テスト商品２のサイズ</td>
          <td>ピンク</td>
          <td class="product-unit-price">4,500</td>
          <td class="product-stock"><a href="#">400</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td>3</td>
          <td class="product-name">ショルダーバッグ</td>
          <td><a href="product-registering">xyz0123</a></td>
          <td>バッグ</td>
          <td><img src="img/test03.png" /> </td>
          <td class="product-size">テスト商品３のサイズ</td>
          <td>白</td>
          <td class="product-unit-price">3,000</td>
          <td class="product-stock"><a href="#">300</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td class="width-no">4</td>
          <td class="width-product-name product-name">テスト商品４の名称</td>
          <td class="width-product-code"><a href="product-registering">abcd321</a></td>
          <td class="width-product-genre">靴・スニーカー</td>
          <td class="width-product-image"><img src="img/test01.png" /> </td>
          <td class="width-product-size product-size">テスト商品４のサイズ</td>
          <td class="width-product-color"></td>
          <td class="width-product-unit-price product-unit-price">2,500</td>
          <td class="width-product-stock product-stock"><a href="#">500</a></td>
          <td class="width-product-end">-</td>
        </tr>
        <tr>
          <td>5</td>
          <td class="product-name">テスト商品５の名称</td>
          <td><a href="product-registering">abcd654</a></td>
          <td>トップス</td>
          <td><img src="img/test02.png" /> </td>
          <td class="product-size">テスト商品５のサイズ</td>
          <td></td>
          <td class="product-unit-price">4,500</td>
          <td class="product-stock"><a href="#">400</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td>6</td>
          <td class="product-name">テスト商品６の名称</td>
          <td><a href="product-registering">xyz3210</a></td>
          <td>バッグ</td>
          <td><img src="img/test03.png" /> </td>
          <td class="product-size">テスト商品６のサイズ</td>
          <td></td>
          <td class="product-unit-price">3,000</td>
          <td class="product-stock"><a href="#">300</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td class="width-no">7</td>
          <td class="width-product-name product-name">テスト商品７の名称</td>
          <td class="width-product-code"><a href="product-registering">abcd321</a></td>
          <td class="width-product-genre">靴・スニーカー</td>
          <td class="width-product-image"><img src="img/test01.png" /> </td>
          <td class="width-product-size product-size">テスト商品７のサイズ</td>
          <td class="width-product-color"></td>
          <td class="width-product-unit-price product-unit-price">2,500</td>
          <td class="width-product-stock product-stock"><a href="#">500</a></td>
          <td class="width-product-end">-</td>
        </tr>
        <tr>
          <td>8</td>
          <td class="product-name">テスト商品８の名称</td>
          <td><a href="product-registering">abcd654</a></td>
          <td>トップス</td>
          <td><img src="img/test02.png" /> </td>
          <td class="product-size">テスト商品８のサイズ</td>
          <td></td>
          <td class="product-unit-price">4,500</td>
          <td class="product-stock"><a href="#">400</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td>9</td>
          <td class="product-name">テスト商品９の名称</td>
          <td><a href="product-registering">xyz3210</a></td>
          <td>バッグ</td>
          <td><img src="img/test03.png" /> </td>
          <td class="product-size">テスト商品９のサイズ</td>
          <td></td>
          <td class="product-unit-price">3,000</td>
          <td class="product-stock"><a href="#">300</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td>10</td>
          <td class="product-name">テスト商品１０の名称</td>
          <td><a href="product-registering">xyz3210</a></td>
          <td>バッグ</td>
          <td><img src="img/test03.png" /> </td>
          <td class="product-size">テスト商品１０のサイズ</td>
          <td></td>
          <td class="product-unit-price">3,000</td>
          <td class="product-stock"><a href="#">300</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td>11</td>
          <td class="product-name">テスト商品１１の名称</td>
          <td><a href="product-registering">xyz3210</a></td>
          <td>バッグ</td>
          <td><img src="img/test03.png" /> </td>
          <td class="product-size">テスト商品１１のサイズ</td>
          <td></td>
          <td class="product-unit-price">3,000</td>
          <td class="product-stock"><a href="#">300</a></td>
          <td>-</td>
        </tr>
      </tbody>
    </table> -->
  </div>
</section>