<section class="product-Listing-page">
  <h1>商品一覧</h1>
  <div class="search-criteria">
    <form class="search-form">
      <div class="search-condition-wrapper">
        <input type="text" name="product-name" placeholder="商品名">
      </div>
      <div class="search-condition-wrapper">
        <input type="text" name="product-code" placeholder="商品コード">
      </div>
      <div class="search-condition-wrapper">
        <select name="product-genre" value="">
          <option value='' disabled selected style='display:none;'>ジャンル</option>
          <option value="1">靴・スニーカー</option>
          <option value="2">トップス</option>
          <option value="3">バッグ</option>
        </select>
      </div>
      <div class="search-condition-wrapper">
        <input type="checkbox" name="product-end" value="1">販売終了
      </div>
    </form>
  </div>
  <div class="search-functions">
    <a href="#" class="button">新規</a>
    <a href="#" class="button">クリア</a>
    <a href="#" class="button active">検索</a>
  </div>
  <div class="search-results">
    <table class="results">
      <thead>
        <tr>
          <th class="width-no">No.</th>
          <th class="width-product-name">商品名</th>
          <th class="width-product-code">商品コード</th>
          <th class="width-product-genre">ジャンル</th>
          <th class="width-product-image">イメージ</th>
          <th class="width-product-size">サイズ・規格</th>
          <th class="width-product-color">色</th>
          <th class="width-product-unit-price">単価</th>
          <th class="width-product-stock">在庫数</th>
          <th class="width-product-end">販売終了</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="width-no">1</td>
          <td class="width-product-name product-name">花柄のスニーカー</td>
          <td class="width-product-code"><a href="product-registering">abcd123</a></td>
          <td class="width-product-genre">靴・スニーカー</td>
          <td class="width-product-image"><img src="img/test01.png" /></td>
          <td class="width-product-size product-size">テスト商品１のサイズ</td>
          <td class="width-product-color">花柄</td>
          <td class="width-product-unit-price product-unit-price">2,500</td>
          <td class="width-product-stock product-stock"><a href="#">500</a></td>
          <td class="width-product-end">-</td>
        </tr>
        <tr>
          <td>2</td>
          <td class="product-name">Vネックニット</td>
          <td><a href="product-registering">abcd456</a></td>
          <td>トップス</td>
          <td><img src="img/test02.png" /> </td>
          <td class="product-size">テスト商品２のサイズ</td>
          <td>ピンク</td>
          <td class="product-unit-price">4,500</td>
          <td class="product-stock"><a href="#">400</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td>3</td>
          <td class="product-name">ショルダーバッグ</td>
          <td><a href="product-registering">xyz0123</a></td>
          <td>バッグ</td>
          <td><img src="img/test03.png" /> </td>
          <td class="product-size">テスト商品３のサイズ</td>
          <td>白</td>
          <td class="product-unit-price">3,000</td>
          <td class="product-stock"><a href="#">300</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td class="width-no">4</td>
          <td class="width-product-name product-name">テスト商品４の名称</td>
          <td class="width-product-code"><a href="product-registering">abcd321</a></td>
          <td class="width-product-genre">靴・スニーカー</td>
          <td class="width-product-image"><img src="img/test01.png" /> </td>
          <td class="width-product-size product-size">テスト商品４のサイズ</td>
          <td class="width-product-color"></td>
          <td class="width-product-unit-price product-unit-price">2,500</td>
          <td class="width-product-stock product-stock"><a href="#">500</a></td>
          <td class="width-product-end">-</td>
        </tr>
        <tr>
          <td>5</td>
          <td class="product-name">テスト商品５の名称</td>
          <td><a href="product-registering">abcd654</a></td>
          <td>トップス</td>
          <td><img src="img/test02.png" /> </td>
          <td class="product-size">テスト商品５のサイズ</td>
          <td></td>
          <td class="product-unit-price">4,500</td>
          <td class="product-stock"><a href="#">400</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td>6</td>
          <td class="product-name">テスト商品６の名称</td>
          <td><a href="product-registering">xyz3210</a></td>
          <td>バッグ</td>
          <td><img src="img/test03.png" /> </td>
          <td class="product-size">テスト商品６のサイズ</td>
          <td></td>
          <td class="product-unit-price">3,000</td>
          <td class="product-stock"><a href="#">300</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td class="width-no">7</td>
          <td class="width-product-name product-name">テスト商品７の名称</td>
          <td class="width-product-code"><a href="product-registering">abcd321</a></td>
          <td class="width-product-genre">靴・スニーカー</td>
          <td class="width-product-image"><img src="img/test01.png" /> </td>
          <td class="width-product-size product-size">テスト商品７のサイズ</td>
          <td class="width-product-color"></td>
          <td class="width-product-unit-price product-unit-price">2,500</td>
          <td class="width-product-stock product-stock"><a href="#">500</a></td>
          <td class="width-product-end">-</td>
        </tr>
        <tr>
          <td>8</td>
          <td class="product-name">テスト商品８の名称</td>
          <td><a href="product-registering">abcd654</a></td>
          <td>トップス</td>
          <td><img src="img/test02.png" /> </td>
          <td class="product-size">テスト商品８のサイズ</td>
          <td></td>
          <td class="product-unit-price">4,500</td>
          <td class="product-stock"><a href="#">400</a></td>
          <td>-</td>
        </tr>
        <tr>
          <td>9</td>
          <td class="product-name">テスト商品９の名称</td>
          <td><a href="product-registering">xyz3210</a></td>
          <td>バッグ</td>
          <td><img src="img/test03.png" /> </td>
          <td class="product-size">テスト商品９のサイズ</td>
          <td></td>
          <td class="product-unit-price">3,000</td>
          <td class="product-stock"><a href="#">300</a></td>
          <td>-</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>