/* --------------------------------------------------------------------------------
 * Product Listing page specific settings.
 * -------------------------------------------------------------------------------- */
.search-results .results .width-product-name,
.search-results .results .width-product-code,
.search-results .results .width-product-size,
.search-results .results .width-product-color {
  text-align: left;
}

.search-results .results width-product-unit-price,
.search-results .results width-product-stock {
  text-align: right;
}

.search-results table img {
  max-height: 30px;
}