/* --------------------------------------------------------------------------------
 * Product Listing page specific settings.
 * -------------------------------------------------------------------------------- */
.search-results .results .width-no {
  width: 5%;
}

.search-results .results .width-product-name {
  width: 30%;
}

.search-results .results .width-product-code {
  width: 5%;
}

.search-results .results .width-product-genre {
  width: 10%;
}

.search-results .results .width-product-image {
  width: 100px;
}

.search-results .results .width-product-size {
  width: 25%;
}

.search-results .results .width-product-color {
  width: 5%;
}

.search-results .results .width-product-unit-price {
  width: 5%;
}

.search-results .results .width-product-stock {
  width: 5%;
}

.search-results .results .width-product-end {
  width: 5%;
}

.search-results .results .product-name,
.search-results .results .product-size {
  text-align: left;
}

.search-results .results .product-unit-price,
.search-results .results .product-stock {
  text-align: right;
}

.search-results table img {
  max-height: 30px;
}