<form [formGroup]="myForm" class="mat-date-picker-wrapper">
  <mat-form-field>
    <input matInput class="mat-date-picker" [matDatepicker]="dp" placeholder="{{ this.placeholder | translate }}"
      formControlName="date" (dateInput)="addEvent('input', $event)" (dateChange)="addEvent('change', $event)">
    <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
    <mat-datepicker #dp></mat-datepicker>
    <mat-error *ngIf="required && date.hasError('required')">
      {{'validationError.required'|translate}}
    </mat-error>
  </mat-form-field>
</form>