// Overrides margin
.registering-criteria-wrapper .registering-condition-wrapper {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  input.mat-input-element.align-right {
    text-align: right;
  }
  