<mat-sidenav-container>

  <!-- Side navigation -->
  <mat-sidenav #sidenav mode="side">
    <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
  </mat-sidenav>

  <!-- Main contents -->
  <mat-sidenav-content>

    <!-- Wrapper of body -->
    <div class="body-wrapper">

      <!-- Header
      <app-header (sidenavToggle)="sidenav.toggle()"></app-header> -->

      <!-- Router -->
      <router-outlet></router-outlet>

      <!-- Footer -->
      <app-footer></app-footer>

    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
