<section class="Listing-page">
  <div class="listing-title">
    <h1>{{ 'PurchaseHistoryListingPage.title' | translate }}</h1>
  </div>
  <app-error-messaging></app-error-messaging>
  <form class="search-form" [formGroup]="searchForm">
    <div class="search-criteria">
      <div class="search-condition-wrapper">
        <div id="searchCondition1">
          <mat-form-field class="form-field">
            <input id="product-purchase-name" matInput type="text" formControlName="productPurchaseName"
              placeholder="{{ 'PurchaseHistoryListingPage.productPurchaseName' | translate }}" maxlength=50
              matTooltip="{{ 'tooltip.searchCriteria.prefixMatching' | translate }}">
          </mat-form-field>
        </div>
      </div>
      <div class="search-condition-wrapper">
        <div id="searchCondition2">
          <app-mat-date-picker [locale]='locale' class="mat-date-from"
            placeholder="{{ 'PurchaseHistoryListingPage.productPurchaseDateFrom' | translate }}" [isBlank]=true
            [required]=false (event)=" onReceiveEventFromChildFrom($event)"></app-mat-date-picker>
          <app-mat-date-picker [locale]='locale' class="mat-date-to"
            placeholder="{{ 'PurchaseHistoryListingPage.productPurchaseDateTo' | translate }}" [isBlank]=true
            [required]=false (event)=" onReceiveEventFromChildTo($event)"></app-mat-date-picker>
        </div>
      </div>
      <div class="search-condition-wrapper">
        <div id="searchCondition3">
          <mat-form-field class="form-field">
            <input id="product-name" matInput type="text" formControlName="productName"
              placeholder="{{ 'PurchaseHistoryListingPage.productName' | translate }}" maxlength=50
              matTooltip="{{ 'tooltip.searchCriteria.prefixMatching' | translate }}">
          </mat-form-field>
        </div>
      </div>
      <div class="search-condition-wrapper">
        <div id="searchCondition4">
          <mat-form-field class="form-field">
            <input id="product-code" matInput type="text" formControlName="productCode"
              placeholder="{{ 'PurchaseHistoryListingPage.productCode' | translate }}" maxlength=20
              matTooltip="{{ 'tooltip.searchCriteria.prefixMatching' | translate }}">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div class="search-functions">
    <div class="search-functions-paginator">
      <mat-paginator [length]="resultsLength" [pageSize]="50" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
    </div>
    <div class="search-functions-buttons">
      <button mat-raised-button id="clearBtn" class="mat-raised-button" type="button" (click)="onClear()"
        matTooltip="{{ 'tooltip.searchBtn.clearBtn' | translate }}">{{ 'PurchaseHistoryListingPage.clearButton' | translate }}</button>
      <button mat-raised-button id="searchBtn" class="mat-raised-button active" type="button" (click)="onSearch()"
        matTooltip="{{ 'tooltip.searchBtn.searchBtn' | translate }}">{{ 'PurchaseHistoryListingPage.searchButton' | translate }}</button>
    </div>
  </div>
  <div class="search-results">
    <table class="results" mat-table *ngIf="resultsLength>0" [dataSource]="purchaseHistorySearchResponseDtos">
      <ng-container matColumnDef="No">
        <th class="width-no" mat-header-cell *matHeaderCellDef>
          {{ "PurchaseHistoryListingPage.no" | translate }}
        </th>
        <td class="width-no" mat-cell *matCellDef="let element"> {{element.no}} </td>
      </ng-container>
      <ng-container matColumnDef="productName">
        <th class="width-product-name" mat-header-cell *matHeaderCellDef>
          {{ "PurchaseHistoryListingPage.productName" | translate }}
        </th>
        <td class="width-product-name" mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
      <ng-container matColumnDef="productCode">
        <th class="width-product-code" mat-header-cell *matHeaderCellDef>
          {{ "PurchaseHistoryListingPage.productCode" | translate }}</th>
        <td class="width-product-code" mat-cell *matCellDef="let element"> {{element.productCode}} </td>
      </ng-container>
      <ng-container matColumnDef="productPurchaseName">
        <th class="width-product-purchase-name" mat-header-cell *matHeaderCellDef>
          {{ "PurchaseHistoryListingPage.productPurchaseName" | translate }}</th>
        <td class="width-product-purchase-name" mat-cell *matCellDef="let element"> {{element.productPurchaseName}}
        </td>
      </ng-container>
      <ng-container matColumnDef="productImage">
        <th class="width-product-image" mat-header-cell *matHeaderCellDef>
          {{ "PurchaseHistoryListingPage.productImage" | translate }}</th>
        <td class="width-product-image" mat-cell *matCellDef="let element"><img src={{element.productImageUrl}} /></td>
      </ng-container>
      <ng-container matColumnDef="productPurchaseDate">
        <th class="width-product-purchase-date" mat-header-cell *matHeaderCellDef>
          {{ "PurchaseHistoryListingPage.productPurchaseDate" | translate }}</th>
        <td class="width-product-purchase-date" mat-cell *matCellDef="let element">
          {{element.productPurchaseDate | date:'medium':timezone:locale}}
        </td>
      </ng-container>
      <ng-container matColumnDef="productPurchaseUnitPrice">
        <th class="width-product-purchase-unit-price" mat-header-cell *matHeaderCellDef>
          {{ "PurchaseHistoryListingPage.productPurchaseUnitPrice" | translate }}</th>
        <td class="width-product-purchase-unit-price" mat-cell *matCellDef="let element">
          {{element.productPurchaseUnitPrice | currencyToNumber:locale:currency }}</td>
      </ng-container>
      <ng-container matColumnDef="productPurchaseQuantity">
        <th class="width-product-purchase-quantity" mat-header-cell *matHeaderCellDef>
          {{ "PurchaseHistoryListingPage.productPurchaseQuantity" | translate }}</th>
        <td class="width-product-purchase-quantity" mat-cell *matCellDef="let element">
          {{element.productPurchaseQuantity | currencyToNumber:locale:currency }} </td>
      </ng-container>
      <ng-container matColumnDef="productPurchaseAmount">
        <th class="width-product-purchase-amount" mat-header-cell *matHeaderCellDef>
          {{ "PurchaseHistoryListingPage.productPurchaseAmount" | translate }}</th>
        <td class="width-product-purchase-amount" mat-cell *matCellDef="let element">
          {{element.productPurchaseAmount | currencyToNumber:locale:currency }} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayColumns;"></tr>
    </table>
  </div>
</section>