/* --------------------------------------------------------------------------------
 * Sign in page.
 * -------------------------------------------------------------------------------- */
.sign-in-page {
  width: 450px;
  height: 300px;
  margin: 150px auto 0;
  background-color: #ffffff;
  border: 1px solid rgb(236, 239, 241, 0.45);
}

.sign-in-title {
  height: 30px;
  width: 440px;
  margin: 0 auto 0;
  padding: 0 5px;
  background-color: #1B435D;
}

.sign-in-title p {
  line-height: 30px;
  color: #ffffff;
}

.sign-in-conditions {
  width: 80%;
  margin: 20px auto 0;
  text-align: center;
}

.sign-in-conditions .mat-form-field {
  margin: 20px auto 0;
  width: 200px;
}

.sign-in-page .raised-button {
  margin: 50px auto 50px;
  width: 200px;
  border-radius: 2px;
  background-color: #78BBE6;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 1.2rem;
  box-shadow: none;
}

.sign-in-page .raised-button:hover {
  opacity: 0.8;
}

.sign-in-page .raised-button:disabled {
  opacity: 0.4;
}

/* --------------------------------------------------------------------------------
 * Smart Phones and tablets settings.
 * -------------------------------------------------------------------------------- */
@media(max-width:440px) {
  .sign-in-page {
    width: 100%;
  }

  .sign-in-title {
    text-align: center;
    width: 100%;
    height: 50px;
  }

  .sign-in-title p {
    line-height: 50px;
  }

  .sign-in-conditions {
    width: 100%;
  }

  .sign-in-conditions .mat-form-field {
    display: block;
    width: 95%;
  }

  .sign-in-page .raised-button {
    width: 100%;
    height: 50px;
  }

}