<section class="sign-in-page">
  <div class="sign-in-title">
    <p>EXAPMLE SITE</p>
  </div>
  <app-error-messaging></app-error-messaging>
  <div class="sign-in-conditions">
    <form [formGroup]="signInForm">

      <mat-form-field class="mat-form-field">
        <input id="signin-user-account" class="mat-input" matInput type="text" formControlName="signInUserAccount"
          placeholder="{{ 'signInPage.userAccount' | translate }}">
        <mat-error class="validation-error" *ngIf="signInUserAccount.hasError('required')">
          {{'validationError.required'|translate}}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-form-field">
        <input id="signin-user-password" class="mat-input" matInput type="text" formControlName="signInUserPassword"
          placeholder="{{ 'signInPage.userPassword' | translate }}">
        <mat-error class="validation-error" *ngIf="signInUserPassword.hasError('required')">
          {{'validationError.required'|translate}}
        </mat-error>
      </mat-form-field>

    </form>
    <button mat-raised-button id="sign-in-button" class="raised-button" type="submit" [disabled]="!signInForm.valid"
      (click)="clickSignInButton()">{{ 'signInPage.signInButton' | translate }}</button>
  </div>
</section>