.registering-criteria-wrapper {
  height: 620px;
}

input.mat-input-element.align-right {
  text-align: right;
}

/* --------------------------------------------------------------------------------
 * Smart Phones and tablets settings.
 * -------------------------------------------------------------------------------- */
@media(max-width:768px) {
  .registering-page-wrapper {
    padding-bottom: 0;
  }
}