// ↓ Maybe bug fix.
.registering-area-wrapper .flat-button,
.registering-functions-wrapper .flat-button {
  background-color: #78BBE6;
  color: #ffffff;
}

.registering-functions-wrapper .flat-button.active {
  background-color: #F99F48;
  color: #ffffff;
}

// ↑ Maybe bug fix.