<section class="registering-page">
  <div class="registering-title">
    <div class="registering-title-wrapper">
      <h1>{{ 'dummyPurchasingPage.title' | translate }}</h1>
    </div>
  </div>
  <div class="registering-conditions">
    <app-error-messaging></app-error-messaging>
    <app-success-messaging></app-success-messaging>
    <div class="registering-conditions-wrapper">
      <form class="registering-form" [formGroup]="registeringForm">
        <div class="registering-area-wrapper left">
          <div class="registering-condition-wrapper">
            <mat-form-field class="form-field">
              <input id="product-code" matInput type="text" formControlName="productCode" upperCase
                placeholder="{{ 'dummyPurchasingPage.productCode' | translate }}"
                matTooltip="{{ 'tooltip.registerValue.input.alphaNumeric' | translate }}" maxlength=20
                (blur)="blurProductCode()" (keyup)="onKey($event)">
              <mat-error class="validation-error" *ngIf="productCode.hasError('productNotExistError')">
                {{'dummyPurchasingPage.validationError.productNotExistError'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper margin-left-25px">
            <mat-form-field class="form-field width-40rem">
              <input id="product-name" matInput type="text" formControlName="productName"
                placeholder="{{ 'dummyPurchasingPage.productName' | translate }}" [readonly]=true>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper margin-left-25px">
            <mat-form-field>
              <mat-label id="product-genre-label">{{ 'dummyPurchasingPage.productGenre' | translate }}</mat-label>
              <mat-select id="product-genre" formControlName="productGenre" [disabled]=true>
                <mat-option *ngFor="let code of genres" [value]="code">
                  {{ 'genre.' + code | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper margin-left-25px">
            <mat-form-field class="form-field width-40rem">
              <input id="product-size-standard" matInput type="text" formControlName="productSizeStandard"
                placeholder="{{ 'dummyPurchasingPage.productSizeStandard' | translate }}" [readonly]=true>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper margin-left-25px">
            <mat-form-field class="form-field">
              <input id="product-unit-price" class="align-right" matInput type="text" appNumberInput
                formControlName="productPurchaseUnitPrice"
                placeholder="{{ 'dummyPurchasingPage.productPurchaseUnitPrice' | translate }}" [attr.locale]='locale'
                [attr.currency]="currency" [readonly]=true>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper margin-left-25px">
            <mat-form-field class="form-field">
              <input id="product-stock-quantity" class="align-right" matInput type="text" appNumberInput
                formControlName="productStockQuantity"
                placeholder="{{ 'dummyPurchasingPage.productStockQuantity' | translate }}" [attr.locale]='locale'
                [attr.currency]="currency" [readonly]=true>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper">
            <mat-form-field class="form-field width-40rem">
              <input id="product-Purchase-name" matInput type="text" formControlName="productPurchaseName"
                placeholder="{{ 'dummyPurchasingPage.productPurchaseName' | translate }}"
                matTooltip="{{ 'dummyPurchasingPage.tooltip.purchaseName' | translate }}" maxlength=50>
              <mat-error class="validation-error" *ngIf="productPurchaseName.hasError('required')">
                {{'validationError.required'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper">
            <mat-form-field class="form-field">
              <input id="product-purchase-quantity" class="align-right" matInput type="text" appNumberInput
                formControlName="productPurchaseQuantity"
                placeholder="{{ 'dummyPurchasingPage.productPurchaseQuantity' | translate }}"
                matTooltip="{{ 'tooltip.registerValue.input.numeric' | translate }}" [attr.locale]='locale'
                [attr.currency]="currency" maxlength=11 (blur)='blurProductPurchaseQuantity()'>
              <mat-error class="validation-error" *ngIf="productPurchaseQuantity.hasError('required')">
                {{'validationError.required'|translate}}
              </mat-error>
              <mat-error class="validation-error" *ngIf="productPurchaseQuantity.hasError('exceedStockError')">
                {{'dummyPurchasingPage.validationError.exceedStockError'|translate}}
              </mat-error>
              <mat-error class="validation-error" *ngIf="productPurchaseQuantity.hasError('pattern')">
                {{'validationError.pattern.halfWidthNumericComma'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper margin-left-25px">
            <mat-form-field class="form-field">
              <input id="product-purchase-amount" class="align-right" matInput type="text" appNumberInput
                formControlName="productPurchaseAmount"
                placeholder="{{ 'dummyPurchasingPage.productPurchaseAmount' | translate }}" [attr.locale]='locale'
                [attr.currency]="currency" [readonly]=true>
            </mat-form-field>
          </div>
        </div>
        <div class="registering-area-wrapper right">
          <p>{{ 'dummyPurchasingPage.productImage' | translate }}</p>
          <img src="../../../../assets/images/no_image.png" class="image-preview" *ngIf="!productImage.value" />
          <img id="product-image" [src]="productImage.value" class="image-preview" *ngIf="productImage.value" />
        </div>
      </form>
    </div>
  </div>
  <div class="registering-functions">
    <div class="registering-functions-wrapper">
      <button mat-raised-button id="saveBtn" class="mat-raised-button active" type="button" (click)="clickSaveButton()"
        [disabled]="!registeringForm.valid"
        matTooltip="{{ 'dummyPurchasingPage.tooltip.saveButton' | translate }}">{{ 'dummyPurchasingPage.saveButton' | translate }}</button>
    </div>
  </div>
</section>