/* --------------------------------------------------------------------------------
 * Basic settings.
 * -------------------------------------------------------------------------------- */
html {
  font-size: 62.5%;
}

body {
  color: #323232;
  background-color: #ECEFF1;
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.body-wrapper {
  min-height: 95vh;
  /* ↑ Fallback of calc() for unsupported browsers */
  min-height: calc(100vh - 50px);
  position: relative;
  padding-bottom: 35px;
  box-sizing: border-box;
}

footer {
  height: 20px;
  width: 100%;
  text-align: center;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  background-color: #ECEFF1;
}

/* --------------------------------------------------------------------------------
 * Basic settings of the listing page.
 * -------------------------------------------------------------------------------- */
.Listing-page .listing-title {
  margin-top: 50px;
  height: 35px;
  background-color: #78BBE6;
  padding: 0 10px;
}

.Listing-page h1,
.Listing-page th {
  font-weight: normal;
}

.Listing-page h1 {
  line-height: 35px;
  color: #ffffff;
  font-size: 1.4rem;
}

.search-form {
  background-color: #ffffff;
}

.search-criteria {
  height: 50px;
  width: 95%;
  padding: 15px 10px 5px;
  margin: 0 0 0;
  background-color: #ffffff;
  display: table;
  table-layout: fixed;
}

.search-criteria:hover {
  opacity: 0.8;
}

.search-criteria-wrapper {
  display: table-cell;
}

.search-criteria .form-field {
  margin: 0 auto 0;
  width: 200px;
}

.search-criteria .date-from .form-field,
.search-criteria .date-to .form-field {
  width: 100px;
}

.search-functions {
  display: table;
  height: 30px;
  width: 100%;
  margin: 0 auto;
  padding: 5px 0px;
  background-color: #ECEFF1;
}

.search-functions-paginator {
  display: table-cell;
  width: 365px;
}

.search-functions-buttons {
  display: table-cell;
  text-align: right;
}

.search-functions .mat-paginator-container {
  justify-content: left;
  padding-left: 8px;
  min-height: 50px;
  background-color: #ECEFF1;
}

.search-functions .raised-button {
  margin-right: 10px;
  width: 200px;
  border-radius: 2px;
  background-color: #78BBE6;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 1.2rem;
  box-shadow: none;
}

.search-functions .raised-button:hover {
  opacity: 0.8;
}

.search-functions .raised-button.active {
  background-color: #F99F48;
  color: #ffffff;
}

.search-results {
  width: 100%;
  text-align: center;
}

.search-results:hover {
  opacity: 0.8;
}

.search-results .results {
  table-layout: fixed;
  border-collapse: separate;
  width: 100%;
}

.search-results thead,
.search-results tbody {
  display: block;
}

.search-results tbody {
  overflow-y: scroll;
  height: 55vh;
  /* ↑ Fallback of calc() for unsupported browsers */
  height: calc(100vh - 310px);
}

.search-results .results table,
.search-results .results th,
.search-results .results td {
  height: 40px;
  vertical-align: middle;
  text-align: center;
}

.search-results .results th {
  color: #323232;
  background-color: #D5EEFF;
  border-bottom: 1px solid #F2F2F2;
  text-align: center;
  min-width: 100px;
}

.search-results .results tr {
  background-color: #ffffff;
}

.search-results .results td {
  border-bottom: 1px solid #F2F2F2;
  text-align: center;
  min-width: 100px;
}

.search-results .results a {
  color: #323232;
}

.search-results .results tr:hover {
  background-color: rgb(213, 238, 255, 0.1);
  cursor: pointer;
}

/* --------------------------------------------------------------------------------
 * Basic settings of the registering page.
 * -------------------------------------------------------------------------------- */
.registering-page {
  margin: 50px auto 10px;
  padding-bottom: 25px;
}

.registering-page .registering-title {
  height: 35px;
  background-color: #78BBE6;
  padding: 0 10px;
}

.registering-page h1 {
  line-height: 35px;
  font-weight: normal;
  color: #ffffff;
  font-size: 1.4rem;
}

.registering-conditions {
  height: 520px;
  background-color: #ffffff;
}

.registering-title-wrapper {
  width: 820px;
  margin: 0 auto;
}

.registering-conditions-wrapper,
.registering-functions-wrapper {
  width: 770px;
  margin: 0 auto;
  padding: 0 0 10px;
}

.registering-functions-wrapper {
  padding-top: 20px;
}

.registering-conditions .raised-button:hover {
  opacity: 0.8;
}

.registering-conditions .registering-form {
  display: table;
  table-layout: fixed;
}

.registering-area-wrapper {
  vertical-align: top;
  display: table-cell;
}

.registering-area-wrapper.left {
  padding-top: 10px;
  width: 500px;
}

.registering-area-wrapper.right {
  width: 270px;
  text-align: right;
}

.registering-area-wrapper img {
  max-width: 200px;
}

.registering-area-wrapper p {
  margin-left: 70px;
  text-align: left;
}

.registering-conditions .registering-condition-wrapper {
  margin: 10px auto 0;
}

.registering-conditions .form-field {
  width: 20rem;
  font-size: 1.4rem;
}

.registering-conditions .form-field.width-wide {
  width: 40rem;
}

.registering-conditions p {
  margin-top: 30px;
  font-size: 1.4rem;
  display: block;
}

.registering-functions {
  height: 30px;
  text-align: right;
}

.registering-area-wrapper .raised-button,
.registering-functions .raised-button {
  width: 200px;
  border-radius: 2px;
  background-color: #78BBE6;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 1.2rem;
  box-shadow: none;
  margin-left: 18px;
}

.registering-area-wrapper .raised-button {
  margin-top: 10px;
}

.registering-functions .raised-button:hover {
  opacity: 0.8;
}

.registering-functions .raised-button.active {
  background-color: #F99F48;
  color: #ffffff;
}

.registering-functions .raised-button:disabled {
  opacity: 0.4;
}

/* --------------------------------------------------------------------------------
 * Other Material settings.
 * -------------------------------------------------------------------------------- */
.mat-dialog-container {
  background-color: #ECEFF1;
  box-shadow: none;
  padding: 0 !important;
}

.mat-checkbox.mat-accent.mat-checkbox-checked .mat-checkbox-background {
  background-color: #F99F48;
}

/* --------------------------------------------------------------------------------
 * Smart Phones and tablets settings.
 * -------------------------------------------------------------------------------- */
@media(max-width:768px) {
  .body-wrapper {
    padding-bottom: 30px;
  }

  /* ---------- Listing page ---------- */
  .Listing-page h1 {
    text-align: center;
  }

  .search-criteria,
  .search-criteria-wrapper {
    display: block;
  }

  .search-criteria {
    height: 170px;
    text-align: center;
  }

  .search-criteria .date-from .form-field,
  .search-criteria .date-to .form-field {
    width: 95px;
  }

  .search-functions,
  .search-functions-paginator,
  .search-functions-buttons {
    padding: 0;
    margin: 0;
    display: block;
  }

  .search-functions {
    height: auto;
    margin-bottom: 0 auto 5px;
    text-align: center;
  }

  .search-functions-paginator {
    width: 100%;
  }

  .search-functions .mat-paginator-container {
    justify-content: center;
    margin: 0;
    padding: 0;
    min-height: 30px;
  }

  .search-functions .raised-button {
    margin-bottom: 0 0 1px;
    width: 100%;
  }

  .search-results .results thead {
    display: none;
  }

  .search-results tbody {
    overflow: hidden;
    height: auto;
  }

  .search-results .results tr {
    border-bottom: 2px solid #F2F2F2;
    display: block;
    height: 210px;
  }

  .search-results .results td {
    padding: 0 10px;
    margin: 0;
    display: block;
    height: 2rem;
    text-align: right;
    border-bottom: 0;
  }

  .search-results .results td:before {
    content: attr(data-label);
    float: left;
  }

  .search-results .results td:first-child {
    margin-top: 5px !important;
  }

  /* ---------- Registering page ---------- */
  .registering-page {
    padding-bottom: 30px;
    text-align: center;
  }

  .registering-conditions .registering-form,
  .registering-area-wrapper {
    display: block;
  }

  .registering-title-wrapper,
  .registering-conditions-wrapper,
  .registering-condition-wrapper,
  .registering-functions-wrapper,
  .registering-area-wrapper.left,
  .registering-area-wrapper.right,
  .registering-area-wrapper img,
  .registering-area-wrapper .raised-button,
  .registering-functions .raised-button,
  .registering-conditions p {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .registering-conditions {
    height: auto;
  }

  .registering-conditions .registering-conditions-wrapper {
    padding-bottom: 0;
  }

  .registering-conditions .registering-condition-wrapper {
    margin: 0;
    padding: 0;
  }

  .registering-conditions .form-field {
    font-size: 1.2rem;
  }

  .registering-conditions .form-field.width-wide {
    width: 200px;
  }

  .registering-area-wrapper .raised-button {
    margin-top: 0;
    margin-bottom: 0;
  }

  .registering-functions-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }

}