@charset "UTF-8";

/* --------------------------------------------------------------------------------
 * Basic styles.
 * -------------------------------------------------------------------------------- */
html,
body {
  height: 100%;
}

html {
  font-size: 62.5%;
}

body {
  color: #323232;
  background-color: rgba(248, 248, 248, 0.55);
  font-size: 1.2rem;
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.body-wrapper {
  min-height: 100vh;
  position: relative;
  padding-bottom: 7px;
  box-sizing: border-box;
}

// Overrides back ground color of mat-side-nav.
body .mat-drawer-container {
  background-color: rgba(248, 248, 248, 0.55);
}

// Overrides font size of mat input.
body .mat-form-field {
  font-size: 1.6rem;
  display: inline-block;
}

body .mat-raised-button {
  width: 200px;
  background-color: #A9A9A9;
  color: white;
  border-radius: 2px;

}