<section class="registering-page">
  <div class="registering-title">
    <div class="registering-title-wrapper">
      <h1>{{ messagePropertytitle | translate }}</h1>
    </div>
  </div>
  <div class="registering-conditions">
    <app-error-messaging></app-error-messaging>
    <app-success-messaging></app-success-messaging>
    <div class="registering-conditions-wrapper">
      <form class="registering-form" [formGroup]="registeringForm">
        <div class="registering-area-wrapper left">
          <div class="registering-condition-wrapper">
            <mat-form-field class="form-field">
              <input id="product-code" matInput type="text" formControlName="productCode"
                placeholder="{{ 'productRegisteringPage.productCode' | translate }}"
                matTooltip="{{ 'tooltip.registerValue.input.alphaNumeric' | translate }}" maxlength=20
                [readonly]="!isNew">
              <mat-error *ngIf="productCode.hasError('required')">
                {{'validationError.required'|translate}}
              </mat-error>
              <mat-error *ngIf="productCode.hasError('pattern')">
                {{'validationError.pattern.singleByteAlphanumeric'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper">
            <mat-form-field class="form-field width-40rem">
              <input id="product-name" matInput type="text" formControlName="productName"
                placeholder="{{ 'productRegisteringPage.productName' | translate }}"
                matTooltip="{{ 'tooltip.registerValue.all' | translate }}" maxlength=50>
              <mat-error *ngIf="productName.hasError('required')">
                {{'validationError.required'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper">
            <mat-form-field>
              <mat-label>{{ 'productRegisteringPage.productGenre' | translate }}</mat-label>
              <mat-select formControlName="productGenre"
                matTooltip="{{ 'tooltip.registerValue.pulldown' | translate }}">
                <mat-option *ngFor="let genre of genres" [value]="genre.value">
                  {{genre.viewValue}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="productGenre.hasError('required')">
                {{'validationError.required'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper">
            <mat-form-field class="form-field width-40rem">
              <input id="product-size-standard" matInput type="text" formControlName="productSizeStandard"
                placeholder="{{ 'productRegisteringPage.productSizeStandard' | translate }}"
                matTooltip="{{ 'tooltip.registerValue.input.all' | translate }}" maxlength=50>
              <mat-error *ngIf="productSizeStandard.hasError('required')">
                {{'validationError.required'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper">
            <mat-form-field class="form-field">
              <input id="product-color" matInput type="text" formControlName="productColor"
                placeholder="{{ 'productRegisteringPage.productColor' | translate }}"
                matTooltip="{{ 'tooltip.registerValue.input.all' | translate }}" maxlength=20>
              <mat-error *ngIf="productColor.hasError('required')">
                {{'validationError.required'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper">
            <mat-form-field class="form-field">
              <input id="product-unit-price" matInput type="text" appNumberInput formControlName="productUnitPrice"
                placeholder="{{ 'productRegisteringPage.productUnitPrice' | translate }}"
                matTooltip="{{ 'tooltip.registerValue.input.numeric' | translate }}" maxlength=11 [attr.locale]='locale'
                [attr.currency]="currency">
              <mat-error *ngIf="productUnitPrice.hasError('required')">
                {{'validationError.required'|translate}}
              </mat-error>
              <mat-error *ngIf="productUnitPrice.hasError('max')">
                {{'validationError.maxlength9'|translate}}
              </mat-error>
              <mat-error *ngIf="productUnitPrice.hasError('pattern')">
                {{'validationError.pattern.halfWidthAlphanumericComma'|translate}}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="registering-condition-wrapper">
            <mat-checkbox id="end-of-sale" formControlName="endOfSale"
              matTooltip="{{ 'productRegisteringPage.tooltip.endOfSale' | translate }}">
              {{ 'productRegisteringPage.endOfSale' | translate }}
            </mat-checkbox>
          </div>
          <div class="registering-condition-wrapper">
            <app-mat-date-picker *ngIf="endOfSale.value" [locale]='locale'
              placeholder="{{ 'productRegisteringPage.endOfSaleDate' | translate }}"
              matTooltip="{{ 'productRegisteringPage.tooltip.endOfSaleDate' | translate }}" [isBlank]=false
              [required]=true (event)=" onReceiveEventFromChild($event)"></app-mat-date-picker>
          </div>
        </div>
        <div class="registering-area-wrapper right">
          <p>{{ 'productRegisteringPage.productImage' | translate }}</p>
          <img src="../../../../assets/images/no_image.png" class="image-preview" *ngIf="!productImage.value" />
          <img [src]="productImage.value" class="image-preview" *ngIf="productImage.value" />
          <button mat-raised-button id="fileInput" class="mat-raised-button" type="button" (click)="fileInput.click()"
            [disabled]="productImage.value"
            matTooltip="{{ 'productRegisteringPage.tooltip.imageUploadButton' | translate }}">{{ 'productRegisteringPage.imageUploadButton' | translate }}</button>
          <input hidden (change)="onFileSelected(fileInput.files)" #fileInput type="file" accept='image/*'>
          <button mat-raised-button id="clear" class="mat-raised-button" type="button" (click)="onClear()"
            [disabled]="!productImage.value"
            matTooltip="{{ 'productRegisteringPage.tooltip.imageClearButton' | translate }}">{{ 'productRegisteringPage.imageClearButton' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
  <div class="registering-functions">
    <div class="registering-functions-wrapper">
      <button mat-raised-button id="clearBtn" class="mat-raised-button" type="button" (click)="onReturn()"
        matTooltip="{{ 'productRegisteringPage.tooltip.returnButton' | translate }}">{{ 'productRegisteringPage.returnButton' | translate }}</button>
      <button mat-raised-button id="saveBtn" class="mat-raised-button active" type="button" (click)="onSave()"
        [disabled]="!registeringForm.valid"
        matTooltip="{{ 'productRegisteringPage.tooltip.saveButton' | translate }}">{{ messagePropertySaveButton | translate }}</button>
    </div>
  </div>
</section>