/* --------------------------------------------------------------------------------
 * Sign in page.
 * -------------------------------------------------------------------------------- */
.sign-in-page {
  width: 30%;
  margin: 150px auto 0;
  background-color: #fff;
  border: 1px solid #A9A9A9;
}

.sign-in-page:hover {
  opacity: 0.8;
}

.sign-in-title {
  height: 30px;
  width: 100%;
  margin: 0 auto 0;
  background-color: #323232;
}

.sign-in-conditions {
  width: 80%;
  margin: 0 auto 0;
  text-align: center;
}

.sign-in-conditions .mat-form-field {
  margin: 10px auto 0;
  width: 200px;
}

.sign-in-page .mat-raised-button {
  margin: 50px auto 50px;
}